node_modules
vendor
.git
.env
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/storage
public/hot
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db